body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

canvas {
    background-color: #000;
    display: block;
    width: 100%;
    height: 100%;
}

input[type="number"], select {
    background-color: #1F2937;
    border: 2px solid #4B5563;
    color: #FFFFFF;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    transition: all 0.3s;
}

input[type="number"]:focus, select:focus {
    outline: none;
    border-color: #2563EB;
    box-shadow: 0 0 0 2px #3B82F6;
}

select {
    
}

select option {
    background-color: #ffffff;
    color: #000000;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #D1D5DB;
}


.btn {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 0.5rem;
    transition: background-color 0.15s;
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #2563EB;
}
.btn-primary:hover {
    background-color: #1D4ED8;
}

.btn-secondary {
    background-color: #4B5563; 
}
.btn-secondary:hover {
    background-color: #374151;
}

.btn-danger {
    background-color: #DC2626;
}
.btn-danger:hover {
    background-color: #B91C1C;
}

.section-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #60A5FA;
    margin-bottom: 0.75rem;

}
